*{
    margin: 0;
    padding: 0;
}


.container{
    width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
}
/* 
.autotype{
    position: relative;
    display: inline-block;
}
.autotype::after{
    position: absolute;
    content: '';
    right: 0px;
    top:25%;
    width: 2px;
    height: 25px;
    background: black;
    animation: lafalafi .7s infinite;
    -webkit-animation: lafalafi .7s infinite;
}

@keyframes lafalafi{
    from{
        opacity: 0;
    }
    start{
        opacity: 1;
    }
} */

.namota2{
    display: none;
}